<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/partials/header :: head(pageTitle ='create')">
    <meta charset="UTF-8">
    <title>Create Post</title>
</head>
<body>
<nav th:replace="/partials/navbar :: navbar"/>
<div class="container-fluid card w-75">
    <h1 class="card-title">Create Post</h1>

    <form th:method="POST" th:action="@{'/posts/create'}" th:object="${post}">
        <div class="mb-2">
            <h3>Title</h3>
            <input class="w-100" type="text" th:field="*{title}" id="title">
        </div>
        <div class="">
            <div>
                <h3>Body</h3>
                <textarea class="w-100" th:field="*{body}" id="body"></textarea>
            </div>
        </div>
        <div class="text-right m-4">
        <button class="btn btn-primary">Create Post</button>
        </div>
    </form>
</div>
<footer th:replace="/partials/footer ::foot"/>
</body>
</html>