<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/partials/header :: head(pageTitle ='create')">
    <meta charset="UTF-8">
    <title>Create Post</title>
</head>
<body>
<h1>Create Post</h1>

<form th:method="POST" th:action="@{'/posts/create'}">
    <div>
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
    </div>
    <div>
        <div>
            <label for="title">Body</label>
            <textarea name="body" id="body"></textarea>
        </div>
        <button>Create Post</button>
</form>

<footer th:replace="/partials/footer ::foot"/>
</body>
</html>