<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Posts</title>
</head>
<body>
<div th:each="post : ${posts}">
    <form method="post" th:action="@{'/posts/edit/' + ${post.id}}">
    <tr>
        <td th:text="${post.title}"/>
        <input type="text" name="title" id="title">
        <td th:text="${post.body}"/>
        <input type="text" name="body" id="body">
        <input type="hidden" name="id" th:value="${post.id}">


        <br>
    </tr>
        <button>submit</button>
        <form method="post" th:action="@{'/posts/delete' + ${post.id}}">
        <button class="btn btn-danger btn-sm" type="submit" value="Delete"/>
        </form>
    </form>
</div>
</body>
</html>