<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/partials/header :: head(pageTitle ='Edit')">
    <meta charset="UTF-8">
    <title>Edit Posts</title>
</head>
<body>
<h1>Edit Post</h1>
    <form th:method="POST" th:action="@{'/posts/' + ${post.id} + '/edit'}">
        <div>
            <label for="title">Title</label>
            <input type="text" name="title" id="title" th:value="${post.title}">
        </div>
        <div>
        <div>
            <label for="title">Body</label>
            <textarea name="body" id="body" th:value="${post.body}"></textarea>
        </div>
        <button>Submit</button>
    </form>

<footer th:replace="/partials/footer ::foot"/>
</body>
</html>