<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/partials/header :: head"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="/partials/navbar :: navbar"/>
<form action="/profile" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
    <label for="password">Password:</label>
    <input type="text" name="password" id="password">
    <button>Submit</button>

    <p>Your username is: <span th:text="${username}"></span></p>
    <p>Your password is: <span th:text="${password}"></span></p>
</form>
<footer th:replace="/partials/footer ::foot"/>
</body>
</html>