<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/partials/header :: head">
  <meta charset="UTF-8">
  <title>Dice</title>
</head>
<body>
<nav th:replace="/partials/navbar::navbar"/>
<h1>Welcome to the dice rolling game!</h1>
<p>Select a link as your guess:</p>
<a href="/roll-dice/1">One</a>
<a href="/roll-dice/2">Two</a>
<a href="/roll-dice/3">Three</a>
<a href="/roll-dice/4">Four</a>
<a href="/roll-dice/5">Five</a>
<a href="/roll-dice/6">Six</a>

<h1>Your choice: <span th:text="${dice}">number</span></h1>
<h2>The dice landed on: <span th:text="${result}">number</span></h2>
<h1><span th:text="${match}"></span></h1>


<h1>
  Your roll matched <span th:text="${match}"/> times
</h1>


</body>
</html>